.header {
    border-bottom: $border;
    @include flex-align;
    justify-content: space-between;
    align-items: center;
    height: #{scaleValue(60)};
    padding: #{scaleValue(35)} #{scaleValue(30)};
    font-size: #{scaleValue(13.5)};
    font-weight: 500;
    position: relative;
    transition: all .4s ease;

    background: $black-background;
    border-bottom: $border;

    &.auth {
        border: none
    }

    &__logo {
        font-size: #{scaleValue(25)};
        text-transform: capitalize;
        @include flex-align;
        margin-right: #{scaleValue(40)};
        cursor: pointer;
    }

    &.landing {
        background: $black-background;
        border-bottom: $border;
    }

    &__left {
        @include flex-align
    }

    &__menu {
        @include flex-align;
    }

    &__right {
        @include flex-align
    }

    &__search {
        @include flex-align;
        @include header-item-margin-right;
        border: $border;
        border-radius: 3rem;
        padding: #{scaleValue(8)} #{scaleValue(15)};
        height: #{scaleValue(45)};
        width:  #{scaleValue(350)};

        &:hover {
            border: $colored-border;
        }

        &.landing {
            
            &:hover {
                border: $border;
            }

            & input {

                &::placeholder {
                    color: $white;
                }
            }
        }

        &.scrolled-far-enough {
            border: $colored-border;

            &:hover {
                border: $colored-border;
            }

            & input {

                &::placeholder {
                    color: $black;
                }
            }
        }

        &--logo {

            & svg {
                height: #{scaleValue(15)};
                width: #{scaleValue(15)};
                display: inline-block;
                transform: translateY(#{scaleValue(2)});
                margin-right: #{scaleValue(5)};
            }
        }

        &--input {

            & input {
                @include input;
                font-size: #{scaleValue(15)};
            }
        }
    }

    &__menuitem {
        @include flex-align;
        cursor: pointer;
        position: relative;
       
        &:not(:last-child) {
            @include header-item-margin-right;
        }

        & span {
            display: inline-block;

            &.svg {
                margin-left: #{scaleValue(5)};
                
                & svg {
                    height: #{scaleValue(8)};
                    width: #{scaleValue(8)};
                }
            }

            &.notifications {
                display: flex !important;
                align-items: center;
                justify-content: center;
                position: absolute;
                background: $red;
                color: $white;
                border-radius: 100%;
                height: #{scaleValue(20)};
                width: #{scaleValue(20)};
                font-size: #{scaleValue(10)};
                top: #{scaleValue(-10)};
                right: 0;
            }
        }

        & label {
            cursor: pointer;
        }

        &--svgbtn {
            display: flex !important;
            align-items: center;
            justify-content: center;
            height: #{scaleValue(40)};
            width: #{scaleValue(40)};
            background: $menu-dropdown-background;
            border-radius: 100%;
            
            & svg {
                fill: $green;
                height: #{scaleValue(20)};
                width: #{scaleValue(20)};
            }
        }

        &:hover {

            & .header__dropdown {
                display: block;
            }
        }
    }

    &.scrolled-far-enough {
        background: $white;
        color: $black;
        box-shadow: 0px 1px 3px 0px rgba(32, 77, 176, 0.7);
    }

    &__dropdown {
        position: absolute;
        min-height: #{scaleValue(20)};
        top: #{scaleValue(13)};
        padding: #{scaleValue(15)};
        padding-left: 0;

        display: none;

        &:hover {
            display: block;
        }

        &.left {
            left: 0
        }

        &.right {
            right: 0
        }
    }

    &__dropdowncontent {
        color: $white;
        background: $menu-dropdown-background;
        min-width: #{scaleValue(270)};
        border-radius: #{scaleValue(5)};

        padding: #{scaleValue(20)} 0;

        &--item {
            display: flex;
            align-items: center;
            padding: #{scaleValue(10)} #{scaleValue(18)};
            cursor: pointer;
            
            &:hover {
                background: rgba($landing-green, .06);
                color: $white;
            }
        }

        &--headerlabel {
            font-size: #{scaleValue(14)};
            font-weight: 400;
            color: $green;
        }

        &--logo {

            & svg {
                fill: $white;
                height: #{scaleValue(20)};
                width: #{scaleValue(20)};
            }
        }

        &--textlabel {
            margin-top: #{scaleValue(10)};
            font-size: #{scaleValue(12)};
            font-weight: 300;
            line-height: #{scaleValue(17)};
            color: rgba($white, .7)
        }
    }
}

