.index {
    min-height: 100vh;

    &__content {}

    &__body {
        padding: 0 #{scaleValue(60)};
    }

    &__header {
        font-size: #{scaleValue(17)};
        font-weight: 500;
    }

    &__rows {
        background: $index-body;
        display: flex;
        padding: #{scaleValue(10)};
        border-radius: #{scaleValue(2)};
        justify-content: space-between;
    }

    &__row {
        width: #{scaleValue(300)};
        flex-shrink: 0;

        &.middle {
            width: #{scaleValue(840)};
            //background: red;
            margin: 0 #{scaleValue(4)};
            border-left: $border;
            border-right: $border;
        }
    }

    &__assetprice {
        border-top: $border;
        border-bottom: $border;
        padding: #{scaleValue(12)} 0;
        font-size: #{scaleValue(16)};
        @include flex-align;

        &--span2 {
            display: inline-block;
            margin: 0  #{scaleValue(8)};
        }

        &--span3 {
            font-size: #{scaleValue(13)};
        }
    }
}