$primary-orange: rgba(205, 83, 34, 1);
$white: rgba(255, 255, 255, 1);

.landing {
    padding: 3rem;
    font-family: "Space Grotesk", sans-serif;

    @media only screen and (max-width: 430px) {
        padding: 3rem 1.4rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #0d0e0f;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 3rem;
        z-index: 3;

        @media only screen and (max-width: 430px) {
            padding: 1rem;
            padding-top: 3rem;
            width: 100vw;
        }

        &--burger {
            display: none;

            @media only screen and (max-width: 430px) {
                display: flex;
                flex-direction: column;
            }

            & span {
                border-radius: 3rem;
                display: inline-block;
                height: .3rem;
                width: 2rem;
                background: $white;
                margin: .1rem 0;
            }
        }
    }

    &__logo {
        color: $primary-orange;
        font-weight: 500;
        font-size: 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;

        & figure {
            height: 2rem;
            margin-right: .5rem;
            display: flex;
            align-items: center;

            & img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }

    &__headermenu {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 430px) {
            position: fixed;
            height: 100vh;
            width: 100vw;
            background: rgba($black, .6);
            top: 0;
            left: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0rem;
            z-index: 30;

            &.invisible {
                display: none;
            }
        }

        &--item {
            margin-left: 3rem;
            cursor: pointer;

            @media only screen and (max-width: 430px) {
                cursor: pointer;
                margin: 0;
                font-size: 2rem;
                margin-left: 2rem;
                margin-top: 2rem;
            }

            &.join {
                border: 1px solid $white;
                border-radius: .3rem;
                padding: .5rem 2rem;
                cursor: pointer;
            }

            &.joined {
                color: $primary-orange;
                border: 1px solid $primary-orange;
                box-shadow: 0 0 5px rgba($primary-orange, 0.6), // Smaller inner glow
                    0 0 10px rgba($primary-orange, 0.4), // Smaller outer glow
                    0 0 15px rgba($primary-orange, 0.2);
            }
        }

        &--X {

            position: absolute;
            right: 1.3rem;
            top: 2rem;
            font-size: 1rem;
            border-radius: 100%;
            padding: 1rem;
            background: $white;
            color: $black;
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            display: none;

            @media only screen and (max-width: 430px) {
                display: flex;
            }
        }
    }

    &__jumbotronparent {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 3rem;
        background: #0d0e0f;
        z-index: 1;

        @media only screen and (max-width: 430px) {
            position: relative;
            height: auto;
            padding: 0;
            padding-top: 1rem;
        }
    }

    &__jumbotron {
        display: flex;
        justify-content: space-between;
        margin-top: 10rem;

        @media only screen and (max-width: 430px) {
            margin-top: 0;
            flex-direction: column;
        }

        &--area {

            &:nth-child(1) {
                width: 60%;

                @media only screen and (max-width: 430px) {
                    width: auto;
                }
            }

            &:nth-child(2) {
                width: 40%;

                @media only screen and (max-width: 430px) {
                    width: auto;
                }
            }
        }


    }

    &__content {
        position: relative;
        padding-top: 4rem;
        z-index: 2;
        background: #0d0e0f;
        margin-top: 30rem;

        @media only screen and (max-width: 430px) {
            margin-top: 0;
        }
    }

    &__sections {
        position: relative;
        z-index: 2;
        padding-top: 4rem;
        background: #0d0e0f;
        min-height: 50rem;
    }

    &__section {}

    &__grid {
        margin-top: 1rem;

        &--1 {
            display: grid;
            grid-template-columns: 40rem 1fr 1fr;
            gap: 10px;
            grid-gap: 1rem;

            @media only screen and (max-width: 430px) {
                display: flex;
                flex-direction: column;
            }
        }

        &--2 {
            display: grid;
            grid-template-columns: 49rem 1fr;
            gap: 10px;
            grid-gap: 1rem;

            @media only screen and (max-width: 430px) {
                display: flex;
                flex-direction: column;
            }
        }

        &--3 {
            display: grid;
            grid-template-columns: 1fr 1fr 40rem;
            gap: 10px;
            grid-gap: 1rem;

            @media only screen and (max-width: 430px) {
                display: flex;
                flex-direction: column;
            }
        }

        &--header {
            margin: 3rem 0;
            font-weight: 400;
            font-size: 2rem;
        }
    }

    &__griditem {
        min-height: 4rem;
        padding: 1.2rem;
        border-radius: .5rem;
        background: rgba($landing-green, .1);
        opacity: 0;
        /* Start invisible */
        transform: translateY(20px);
        /* Start slightly below */
        transition: opacity 0.5s ease, transform 0.5s ease;

        &.visible {
            opacity: 1;
            /* Fade in */
            transform: translateY(0);
            /* Move to original position */
        }

        &--content {

            & h2 {
                font-weight: 500;
                font-size: 1.3rem;
                margin-top: 2rem;
                color: $primary-orange;
                margin-bottom: 2rem;
            }

            & p {
                font-size: .99rem;
                font-weight: 400;
                color: white;
            }
        }

        &--spots {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            height: 5rem;

            & span {
                display: inline-block;
                background: #cd5322;
                border-radius: 100%;
                height: .1rem;
                width: .1rem;
                margin: .2rem;
            }
        }
    }

    &__htags {
        display: flex;
        flex-direction: column;
    }

    &__htag {

        &.main {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: .6rem;
            line-height: 4rem;

            @media screen and (max-width: 430px) {
                font-size: 1rem;
                font-weight: 500;
                line-height: 2.5rem;
                margin-bottom: .6rem;
            }
        }

        &.sub {
            font-size: 1rem;
            margin-bottom: 1rem;
            color: rgba(205, 83, 34, 1);

            & h2 {
                font-weight: 300;
            }
        }
    }

    &__timer {
        display: flex;
    }

    &__timercontent {
        justify-content: flex-start;
        border: .1px solid rgba($white, .5);
        border: 0.1px solid rgba(255, 255, 255, 0.3);
        min-width: 25rem;
        border-radius: 1rem;
        min-height: 23rem;

        padding: 2rem;

        @media only screen and (max-width: 430px) {
            min-width: auto;
            width: auto;
            margin: 0 .2rem;
        }

        &--header {
            font-size: 1.3rem;
            color: rgba($white, .5);
        }

        &--join {
            width: 100%;

            & button {
                background: $neon-green;
                color: #000;
                border-radius: 3rem;
                width: 100%;
                border: none;
                padding: 1rem;
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                & span {

                    &:nth-child(1) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #000;
                        border-radius: 100%;
                        padding-bottom: .1rem;
                        height: 1.5rem;
                        width: 1.5rem;
                        color: white;
                        margin-right: .5rem;
                    }
                }
            }
        }
    }

    &__timerblocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__timerblock {
        border-radius: 1rem;
        height: 9rem;
        border: 0.1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        flex-direction: column;
        width: 4rem;
        align-items: center;
        padding: 1rem;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &::before,
        &::after {
            content: "";
            position: absolute;
            background: #0d0e0f;
            left: 0;
            height: 1.9rem;
            width: 100%;
            z-index: 2;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        &--demarc {
            display: flex;
            align-items: center;
            justify-content: center;


            & span {
                display: flex;
                border-radius: 100%;
                background: rgba($white, .3);

            }
        }
    }
}